main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 410px;

    .login-logo {
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
    }

    .login-form {
      &__header {
        margin-bottom: 40px;

        h1 {
          font-family: Inter;
          font-size: 36px;
          line-height: 56px;
          color: #101d2d;
        }

        p {
          font-family: Inter;
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          color: #6f727a;
        }
      }

      .form-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 7px 0 32px 0;

        .form-check {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: #101d2d;

          input {
            margin-right: 11px;
            height: auto;
          }
        }

        .forget {
          color: #4c54f4;
        }
      }

      .form-submit {
        display: flex;
        justify-content: center;

        button {
          background-color: #4c54f4;
        }
      }
    }
  }
}
