<div class="admin-page">
  <div class="admin-page__header">
    <div class="user-photo">
      <img src="/assets/images/logo.svg" alt="photo" />
    </div>

    <div class="user-info">
      <h3>Имя и Фамилия</h3>
      <p>ID пользователя: <span>00</span></p>
    </div>
  </div>

  <div class="admin-page__content">
    <p>Сообщение</p>

    <input type="text" [(ngModel)]="inputValue" />

    <div class="admin-page__content-actions">
      <button *ngFor="let button of buttons" [class]="button['class']">
        {{ button["label"] }}
      </button>
    </div>
  </div>
</div>
