<div class="admin-page">
  <div class="admin-page__header">
    <div class="user-photo">
      <img
        [src]="userInfo?.userAvatar || '/assets/images/logo.svg'"
        alt="photo"
      />
    </div>

    <div class="user-info">
      <h3>{{ userInfo?.userName }}</h3>
      <p>
        ID пользователя: <span>{{ userInfo?.userId }}</span>
      </p>
    </div>
  </div>

  <div class="admin-page__content">
    <p>Сообщение</p>

    <input type="text" [(ngModel)]="inputValue" />

    <div class="admin-page__content-actions">
      <button
        *ngFor="let button of buttons"
        [class]="button['class']"
        (click)="onButtonClick(button['class'])"
      >
        {{ button["label"] }}
      </button>
    </div>
  </div>
</div>
